<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Admin<b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>
            <a asp-controller="Admin" asp-action="UserManagement"
            >User Management</a>
            <a asp-controller="Admin" asp-action="RoleManagement"
            >Role Management</a>
            <a asp-controller="Admin" asp-action="SellerManagement"
            >Seller Management</a>
        </li>  
    </ul>
</li>