@using System.Security.Claims
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<AppUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">CS4790 - Ethan Brown</a></li>
                    @await Component.InvokeAsync("ShoppingCartSummary")
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admins"))
                    {
                        @await Component.InvokeAsync("AdminMenu")
                        <li class="dropdown">
                            <a asp-controller="SellerManagement"
                               asp-action="Index">Seller Management</a>
                        </li>
                    }
                    @if (User.IsInRole("Admins") || User.IsInRole("SellerAdmin"))
                    {
                        <li class="dropdown">
                            <a asp-controller="ProductManagement"
                               asp-action="Index">Product Management</a>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("LoginPartial")
            </div>
        </div>
    </nav>
        <div class="container body-content">
            <div class="row">
                @RenderBody()
            </div>
        </div>
</body>
</html>
