@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

@model Order
<form asp-controller="Order" asp-action="Checkout" method="POST" class="form-horizontal" role="form">
    <h3>Checkout</h3>

    <div app-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="OrderLastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderLastName" class="form-control" />
            <span asp-validation-for="OrderLastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderFirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderFirstName" class="form-control" />
            <span asp-validation-for="OrderFirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderStreetAddress1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderStreetAddress1" class="form-control" />
            <span asp-validation-for="OrderStreetAddress1" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderStreetAddress2" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderStreetAddress2" class="form-control" />
            <span asp-validation-for="OrderStreetAddress2" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderCity" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderCity" class="form-control" />
            <span asp-validation-for="OrderCity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderState" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderState" class="form-control" />
            <span asp-validation-for="OrderState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderZip" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderZip" class="form-control" />
            <span asp-validation-for="OrderZip" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OrderPhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderPhoneNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="500">
            </script>
        </div>
    </div>
</form>