@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartLineItems.Count > 0)
{
    <li>
        <a asp-controller="ShoppingCart" asp-action="Index">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartLineItems.Count
            </span>
        </a>
    </li>
}